@import "../../GlobalStyles/GlobalStyle.scss";

.wrapper {
  width: 100%;
  position: relative;
}

.title {
  font-size: 24px;
  color: $dark-color;
  text-align: center;
  margin-bottom: 40px;
}

.input-box {
  display: grid;
}

.input-box-row {
  display: flex;
}

.input-title {
  font-size: 16px;
  color: $white-color;
  margin-bottom: 8px;
}

.input-field {
  width: 100%;
  height: 40px;
  background: transparent;
  border: 1px solid $dark-color;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 16px;
  color: $dark-color;
  margin-bottom: 8px;
}

.input-box textarea {
  resize: none;
  line-height: 1.4;
  height: 60px;
}

.action-buttons {
    display: flex;
    justify-content: flex-end;
}
.btn {
  background: $dark-color;
  color: $white-color;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.btn:hover{
    background-color: $white-color;
    color: $dark-color;
}

.btn-close {
  position: absolute;
  height: 45px;
  top: -40px;
  right: -40px;
  background: $dark-color;
  border-bottom-left-radius: 20px;
  color: $white-color;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 24px;
  z-index: 1;
  padding: 8px;
}

.btn-close:hover {
    background-color: $white-color;
    color: $dark-color;
}
