@import '../../../GlobalStyles/GlobalStyle.scss';

.wrapper {
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    color: #fff;

}

.title {
    font-size: 36px;
    font-weight: bold;
    color: $white-color;
}

