 @import '../../GlobalStyles/GlobalStyle.scss';
 
 .wrapper {
    border-radius: 8px;
    padding: 8px;
    border: 3px solid #ccc;
 }

 .title {
    font-size: 20px;
    color: $white-color;
    text-align: center;
 }