@import "../../GlobalStyles/GlobalStyle.scss";

.title {
  font-size: 24px;
  color: $dark-color;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid $dark-color;
  margin: 30px 0;
  background: transparent;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: $white-color;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}

.input-box .input:focus ~ label,
.input-box .input:not(:placeholder-shown) ~ label {
  top: -5px;
}

.input-box .input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: $white-color;
//   font-weight: 600;
  padding: 0 35px 0 5px;
}

.input-box textarea {
  resize: none;
  line-height: 1.4;
}

.static-label {
  display: block;
  margin-bottom: 6px;
  font-size: 0.9em;
  color: #fff;
  font-weight: 500;
}

.btn {
  width: 100%;
  height: 45px;
  background: #162938;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: $white-color;
  font-weight: 500;
}

.btn:hover {
  background: $white-color;
  color: $dark-color;
}
