@import "../../GlobalStyles/GlobalStyle.scss";

.wrapper {
}

.title {
  font-size: 24px;
  color: $dark-color;
  text-align: center;
}

.search-result-title {
  font-size: 24px;
  color: $dark-color;
  text-align: center;
  margin-bottom: 40px;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #162938;
  margin: 30px 0;
  background: transparent;
}

.input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #fff;
  padding: 0 35px 0 5px;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #fff;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}

.input-box .input:focus ~ label,
.input-box .input:not(:placeholder-shown) ~ label {
  top: -5px;
}

.no-results {
  font-size: 16px;
  color: $dark-color;
  text-align: center;
}

.search-result-list {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 160px;
  overflow-y: auto;
}

.search-result-list::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.search-result-item {
  border-bottom: 1px solid $dark-color;
  padding: 8px;
  display: flex;
  margin-bottom: 8px;
}

.search-result-item:hover{
    background-color: rgba(22, 41, 56, 0.5);
    cursor: pointer;
}

.item-title {
  font-size: 1em;
  font-weight: 500;
  color: $dark-color;
}

.item-title {
  font-size: 16px;
}

.done {
  text-decoration: line-through;
  opacity: 0.6;
}

.in-progress {
  color: $warning-color;
}

.todo {
  color: $white-color;
}
