.wrapper {
  width: 1200px;
}

.box {
  width: 100%;
  height: 420px;
  border-radius: 20px;
  padding: 8px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 40px;
}
