@import "../../GlobalStyles/GlobalStyle.scss";

.wrapper {
    width: 100%;
}

.title {
    font-size: 24px;
    color: $dark-color;
    text-align: center;
    margin-bottom: 40px;
}

.task-list {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 300px;
    overflow-y: auto;
}

.task-list::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.task-item {
    border-bottom: 1px solid $dark-color;
    padding: 8px;
    display: flex;
    margin-bottom: 8px;
}

.item-title {
    font-size: 1em;
    font-weight: 500;
    color: $dark-color;
}

.item-title {
  font-size: 16px;
}

.done {
  text-decoration: line-through;
  opacity: 0.6;
}

.in-progress {
  color: $warning-color;
}

.todo {
  color: $white-color;
}

.item-actions {
    margin-left: auto;

    :hover {
        color: $white-color;
        cursor: pointer;
        opacity: 0.7;
    }
}